
<hr>
<div *ngFor="let expectedCurrentChar of exptecedInputByChar; index as currentIndex; first as isFirst; last as isLast">
    <!-- if common char proceed wait for for input and proceed -->
    <input 
      *ngIf="expectedCurrentChar != '\n'"
      #refUserInputElement 
      placeholder="{{expectedCurrentChar}}" 
      maxlength="1" 
      [attr.autofocus]="isFirst" 
      type="text" 
      id="text-input-id-{{currentIndex}}" 
      (input)="ProceedInput(expectedCurrentChar,currentIndex,refUserInputElement,isFirst,isLast)">
    <!-- if return cariage, work arround for going to next common char -->
    <br *ngIf="expectedCurrentChar == '\n'">
    <input *ngIf="expectedCurrentChar == '\n'"
        #refFalseReturnCariageInput
        placeholder="{{expectedCurrentChar}}" 
        maxlength="1" 
        type="text" 
        id="text-input-id-{{currentIndex}}" 
        (focus)="ProceedInput('',currentIndex,refFalseReturnCariageInput)">
</div>