#myInput {
    font-size: 16px; /* Set the font size to match your design */
    color: #555;    /* Set the color you want for the placeholder text */
  }
  
#myInput::placeholder {
  color: #000000;    /* Set the color of the placeholder text to match the text input color */
}

.gauge_indicator {
  transition: "stroke-dashoffset 0.3s";
}

.gauge-needle {
 transition: "transform 0.2s";
}