.target_game[b-gnpjxarx4w] {
    border-style: solid; 
    background-color: GhostWhite ;
    margin: 10px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    padding: 2px;
}

.target_game--line_current[b-gnpjxarx4w] {
    font-style:italic;
}

.target_game--word[b-gnpjxarx4w] {
    display: inline;
}

.target_game--word_current[b-gnpjxarx4w] {
    font-weight: bold;
}

.target_game--char_current[b-gnpjxarx4w] {
   text-decoration: underline;
}

.target_game--char_succes[b-gnpjxarx4w] {
    color: green;
}

.target_game--char_error[b-gnpjxarx4w] {
    color: red;
}

